#upcoming-events {
  position: relative;
  .event-border {
    border-bottom: 2px solid $primary;
    margin-bottom: 1rem;
  }
}

#newsletter {
  background-image: url("../img/newsletter-bg-copy.webp");
  background-size: cover;
  background-position: center;
  position: relative;

  @include media-breakpoint-up(xxl) {
    padding: 10rem;
  }
  // Overlay for the background image
  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: $highlight;
    mix-blend-mode: multiply;
    z-index: 1;
  }
  // Sign-up box for newsletter
  .newsletter-box {
    position: relative;
    z-index: 2;
    background-color: rgba(0, 0, 0, 0.75);
    padding: 6rem 2.5rem;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin-bottom: 1.5rem;

    @include media-breakpoint-up(md) {
      padding: 3rem;
    }
    @include media-breakpoint-up(lg) {
      padding: 6rem;
      border-radius: 25px;
    }
  }
}
#social-contact {
  position: relative;
  // @include media-breakpoint-up(lg) {
  //   min-height: 830px;
  // }
  // Social carousel buttons, hidden on mobile
  .carousel-control-prev,
  .carousel-control-next {
    position: absolute;
    top: -95%;
    bottom: 0;
    z-index: 1;
    display: none;
    align-items: center;
    justify-content: end;
    width: 90%;
    padding: 0;
    color: #ffffff;
    text-align: center;
    background: none;
    filter: var(--bs-carousel-control-icon-filter);
    border: 0;
    opacity: 0.5;
    transition: opacity 0.15s ease;

    @include media-breakpoint-up(md) {
      display: flex;
    }

    @include media-breakpoint-up(xl) {
      width: 92%;
    }
    @include media-breakpoint-up(xxl2) {
      width: 95%;
    }
  }

  /* Social navigation tab buttons*/
  .nav-link {
    background-color: $highlight;
    transition: all 0.2s ease-in-out;
    border-color: darken($primary, 5%);
    border-right: 1px solid white;
    border-radius: 0;
    &:active {
      background-color: $white !important;
    }

    &.active,
    &:active {
      background-color: $white;
      color: $primary;
    }
  }
}

// To set the height of the social card equal to the height of the other card
.social-card {
  min-height: 400px !important;
  border-radius: 5px !important;
}
