$utilities: map-merge(
  $utilities,
  (
    "width":
      map-merge(
        map-get($utilities, "width"),
        (
          responsive: true,
          values: (
            0: 0,
            5: 5%,
            10: 10%,
            15: 15%,
            20: 20%,
            25: 25%,
            30: 30%,
            35: 35%,
            40: 40%,
            45: 45%,
            50: 50%,
            55: 55%,
            60: 60%,
            65: 65%,
            70: 70%,
            75: 75%,
            80: 80%,
            85: 85%,
            90: 90%,
            95: 95%,
            100: 100%,
            auto: auto,
            fit-content: fit-content,
          ),
        )
      ),
    "height":
      map-merge(
        map-get($utilities, "height"),
        (
          responsive: true,
          values: (
            0: 0,
            5: 5%,
            10: 10%,
            15: 15%,
            20: 20%,
            25: 25%,
            30: 30%,
            35: 35%,
            40: 40%,
            45: 45%,
            50: 50%,
            55: 55%,
            60: 60%,
            65: 65%,
            70: 70%,
            75: 75%,
            80: 80%,
            85: 85%,
            90: 90%,
            95: 95%,
            100: 100%,
            fit-content: fit-content,
          ),
        )
      ),
    "font-size":
      map-merge(
        map-get($utilities, "font-size"),
        (
          responsive: true,
        )
      ),
    "line-height":
      map-merge(
        map-get($utilities, "line-height"),
        (
          responsive: true,
        )
      ),
    "opacity": (
      property: opacity,
      class: opacity,
      state: hover,
      values: (
        0: 0,
        10: 0.1,
        25: 0.25,
        50: 0.5,
        75: 0.75,
        90: 0.9,
        100: 1,
      ),
    ),
    "text-decoration": (
      property: text-decoration,
      state: hover,
      values: none underline line-through,
    ),
    "color": (
      property: color,
      class: text,
      state: hover,
      values:
        map-merge(
          $theme-colors,
          (
            "primary": $primary,
            "secondary": $secondary,
            "tertiary": $tertiary,

            "black": $black,
            "white": $white,
            "muted": $text-muted,
            "black-50": rgba($black, 0.5),
            "white-50": rgba($white, 0.5),
            "reset": inherit,
          )
        ),
    ),
    "background-color": (
      property: background-color,
      class: bg,
      state: hover,
      values:
        map-merge(
          $theme-colors,
          (
            "primary": $primary,
            "secondary": $secondary,
            "tertiary": $tertiary,

            "white": $white,
            "black": $black,
            "body": $body-bg,
            "transparent": transparent,
          )
        ),
    ),
    "border-color": (
      property: border-color,
      class: border,
      values:
        map-merge(
          $theme-colors,
          (
            "primary": $primary,
            "secondary": $secondary,
            "tertiary": $tertiary,
            "white": $white,
            "black": $black,
          )
        ),
    ),
    "position":
      map-merge(
        map-get($utilities, "position"),
        (
          responsive: true,
        )
      ),
    "top":
      map-merge(
        map-get($utilities, "top"),
        (
          responsive: true,
          values: (
            0: 0,
            5: 5%,
            10: 10%,
            15: 15%,
            20: 20%,
            25: 25%,
            30: 30%,
            35: 35%,
            40: 40%,
            45: 45%,
            50: 50%,
            55: 55%,
            60: 60%,
            65: 65%,
            70: 70%,
            75: 75%,
            80: 80%,
            85: 85%,
            90: 90%,
            95: 95%,
            100: 100%,
          ),
        )
      ),
    "bottom":
      map-merge(
        map-get($utilities, "bottom"),
        (
          responsive: true,
          values: (
            0: 0,
            5: 5%,
            10: 10%,
            15: 15%,
            20: 20%,
            25: 25%,
            30: 30%,
            35: 35%,
            40: 40%,
            45: 45%,
            50: 50%,
            55: 55%,
            60: 60%,
            65: 65%,
            70: 70%,
            75: 75%,
            80: 80%,
            85: 85%,
            90: 90%,
            95: 95%,
            100: 100%,
          ),
        )
      ),
    "start":
      map-merge(
        map-get($utilities, "start"),
        (
          responsive: true,
          values: (
            0: 0,
            5: 5%,
            10: 10%,
            15: 15%,
            20: 20%,
            25: 25%,
            30: 30%,
            35: 35%,
            40: 40%,
            45: 45%,
            50: 50%,
            55: 55%,
            60: 60%,
            65: 65%,
            70: 70%,
            75: 75%,
            80: 80%,
            85: 85%,
            90: 90%,
            95: 95%,
            100: 100%,
          ),
        )
      ),
    "end":
      map-merge(
        map-get($utilities, "end"),
        (
          responsive: true,
          values: (
            0: 0,
            5: 5%,
            10: 10%,
            15: 15%,
            20: 20%,
            25: 25%,
            30: 30%,
            35: 35%,
            40: 40%,
            45: 45%,
            50: 50%,
            55: 55%,
            60: 60%,
            65: 65%,
            70: 70%,
            75: 75%,
            80: 80%,
            85: 85%,
            90: 90%,
            95: 95%,
            100: 100%,
          ),
        )
      ),
    "translate-middle":
      map-merge(
        map-get($utilities, "translate-middle"),
        (
          values:
            map-merge(
              map-get(map-get($utilities, "translate-middle"), "values"),
              (
                null: translate(-50%, -50%),
                x: translateX(-50%),
                y: translateY(-50%),
                none: translate(0, 0),
              )
            ),
          responsive: true,
        )
      ),
  )
);

[class*="-hover"] {
  cursor: pointer;
  transition: color 0.2s, background-color 0.2s, text-decoration 0.2s,
    opacity 0.2s;
}
